<div class="container">
<h2>Contact Info:</h2>
  <p> <%= @first_name %> </p>
  <p> <%= @last_name %> </p>
  <p> <%= @job_title %> </p>
  <p> <%= @company %> </p>
  <p> <%= @type %> </p>
  <p> <%= @street_address %> </p>
  <p> <%= @city %> </p>
  <p> <%= @state %> </p>
  <p> <%= @zip %> </p>
</div>
<a href="/">Return to home</a>
